<div data-template="event" data-index="{{@index}}" class="timeline-section">
  <div class="timeline-date">
    <i class="fa fa-clock-o"></i>&nbsp; {{occured_at}}
    {{#if (ne type 'production')}}
    <span class="fix">
      <b>{{#pad_zeros}}{{server}}{{/pad_zeros}}</b> (server) <i class="fa fa-arrows-h"></i> <b>{{#pad_zeros}}{{client}}{{/pad_zeros}}</b> (client)
    </span>
    {{/if}}
    <span>type: <b>{{type}}</b></span>
  </div>
  <div class="row">
    {{#each messages}}
        {{> Message}}
    {{/each}}
  </div>
</div>
