<div data-template="message" data-index="{{@index}}" class="col-sm-4">
  <div class="timeline-box">
    <div class="box-title">
      <i class="fa fa-asterisk text-success" aria-hidden="true"></i> Message Received
    </div>
    <div class="box-content">
      <a class="btn btn-xs btn-default pull-right" onclick="renderMessageDetails(this)">Details</a>
      <div class="box-item"><strong>Sender</strong>: {{sender}}</div>
      <div class="box-item"><strong>Recipient</strong>: {{recipient}}</div>
      <div class="box-item"><strong>Created Date</strong>: {{created_at}}</div>
      <div class="box-item"><strong>Body</strong>:  {{#trim_body}}{{body}}{{/trim_body}}</div>
    </div>
    <div class="box-footer"></div>
  </div>
</div>
