{{#each devices}}
  <div class="panel panel-default">
    <a class="pull-right" style="padding:10px" href="#" onclick="$(this).parent().find('table tbody').toggle();return false">show/hide connections</a>
    <div class="panel-heading">
      <h3 class="panel-title">Device: <b>{{#pad_zeros}}{{aem}}{{/pad_zeros}}</b></h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th width="15%">Connection</th>
          <th width="25%">Start</th>
          <th width="25%">End</th>
          <th width="35%">Duration</th>
        </tr>
      </thead>
      <tbody>
        {{#each connections}}
        <tr>
          <th>{{@index}}</th>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>{{duration}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Average connection duration with {{#pad_zeros}}{{aem}}{{/pad_zeros}}: <b>{{average_duration}}</b></td>
        </tr>
      </tfoot>
    </table>
  </div>
{{/each}}
